
//
// Brief blocks
// --------------------------------------------------

.brief-blocks {
  padding: 80px 0 40px;
  background-color: #fff;

  [class*="col-md"] {
    margin-bottom: 40px;
  }
}



//
// Companies
// --------------------------------------------------

.companies {

}



//
// Popular categories
// --------------------------------------------------

.popular-categories {

}