@box-companies-item-height: 95px;

//
// Brief blocks
// --------------------------------------------------

.brief-blocks {
  padding: 80px 0 40px;
  background-color: #fff;

  &__item {
    margin-bottom: 70px;
  }
}



//
// Companies
// --------------------------------------------------

.box-companies {

  &__item {
    position: relative;
    display: block;
    margin-bottom: 30px;
    border: 1px solid #f7f7f8;
    background-color: #f7f7f8;

    &,
    &:hover,
    &:focus {
      color: @text-color;
      text-decoration: none;
    }
    &:hover,
    &:focus {
      background-color: #fff;
    }

    span {
      display: block;
    }

    &--add {
      height: @box-companies-item-height;
      line-height: @box-companies-item-height;
      font-size: 18px;
      text-align: center;
      background-color: #fff;

      &,
      &:hover,
      &:focus {
        color: fade(@text-color, 50%);
        text-decoration: none;
      }

      &:hover,
      &:focus {
        background-color: #f7f7f8;
      }

      [class*="icon"] {
        position: relative;
        margin-right: 10px;
        color: fade(@text-color, 10%);
        top: 8px;
        font-size: 35px;
      }
    }
  }

  &__image {

    img {
      width: 100%;
      max-width: @box-companies-item-height;
      height: auto;
    }
  }

  &__label {
    position: absolute;
    width: 100%;
    padding: 0 20px 0 120px;
    top: 50%;
    .translate(0, -50%);

    &__title {
      margin-top: 20px;
      .font-normalize(18px);
    }

    &__positions {
      color: fade(@text-color, 50%);
    }
  }

  &__more {
    text-transform: uppercase;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}



//
// Popular categories
// --------------------------------------------------

.box-popular-categories {
  
  &__item {

    &:nth-child(1),
    &:nth-child(2) {

      > a {
        border-top: none;
      }
    }
  }

  &__title {
    position: relative;
    display: block;
    padding: 13px 60px 13px 0;
    font-size: 16px;
    border-top: 1px solid #eff0f1;

    &,
    &:hover,
    &:focus {
      color: @text-color;
      text-decoration: none;
    }
    
    &:hover,
    &:focus {
      color: @brand-primary;

      > span {
        color: #fff;
        border-color: @brand-primary;
        background-color: @brand-primary;
      }
    }
  }
  
  &__count {
    position: absolute;
    display: block;
    width: 30px;
    padding: 0 5px;
    top: 50%;
    right: 0;
    line-height: 18px;
    color: fade(@text-color, 40%);
    font-size: 12px;
    text-align: center;
    border: 1px solid fade(@text-color, 40%);
    border-radius: 9px;
    .translate(0, -50%);
  }
}