
//
// Landing
// --------------------------------------------------

.landing {
  padding: 100px 0;

  .tabs {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    text-align: center;

    > li {
      display: inline-block;

      &.active {

        > a {

          &:after {
            width: 70%;
          }
        }
      }

      > a {
        position: relative;
        display: block;
        margin: 0 30px 20px;
        padding-bottom: 10px;
        font-family: @font-family-varela-round;
        font-size: 30px;

        &,
        &:hover,
        &:focus {
          color: @text-color;
          text-decoration: none;
        }

        &:hover:after,
        &:focus:after {
          width: 70%;
        }

        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 3px;
          left: 50%;
          bottom: 0;
          border-radius: 1px;
          .translate(-50%, 0);
          background-color: @brand-primary;
        }
      }
    }
  }
}